/*New Style*/
.msg-container { 
	height: 100%;
	position: relative;
  }
  
  .msg-box {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  .pagination {
	  display: -ms-flexbox;
	  display: flex;
	  padding-left: 0;
	  list-style: none;
	  border-radius: .25rem
  }
  .profile-list{
	  padding:0 !important;
	  height:auto !important;
  }
  .profile-list .single-info{
	  margin-bottom:0;
  }
  .btn-non{
	  color:#fff !important;
	  padding:5px 10px;
  }
  .social_link{
	font-size: 20px;
  }